<button mat-raised-button color="primary" class="mt-2" (click)="saves()">Envoyer la
    liste</button>
<table #tableToAdd mat-table [dataSource]="toAdd">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="releaseDate">
        <th mat-header-cell *matHeaderCellDef> Date de diffusion </th>
        <td mat-cell *matCellDef="let element"> {{element.releaseDate | date:'shortDate':
            undefined:
            locale}}
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element; index as index">
            <button mat-raised-button color="accent" class="me-2" (click)="populate(element)">Modier</button>
            <button mat-raised-button color="warn" (click)="remove(index)">Supprimer</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>