<div class="container-fluid" *ngIf="series">
    <div class="row">
        <button *ngIf="series.previousSeriesId!=0" mat-button class="col" [routerLink]="['/detail/series', series.previousSeriesId]">
            <mat-icon>keyboard_arrow_left</mat-icon>
            <span>Série précendente</span>
        </button>
        <button mat-button class="col">
            <span>Prochaine série</span>
            <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div class="row">
        <button *ngIf="series.nextSeriesId!=0" mat-button class="col" [routerLink]="['/detail/series', series.nextSeriesId]">
            <mat-icon>keyboard_arrow_left</mat-icon>
            <span>Film précendent</span>
        </button>
        <button *ngIf="series.nextMovieId!=0" mat-button class="col" [routerLink]="['/detail/movie', series.nextMovieId]">
            <span>Prochain film</span>
            <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
        </button>

    </div>
    <div class="row">
        <div class="col-4">
            <img *ngIf="series.poster" ngClass="img-fluid" class="m-2"
                src="http://localhost:8081/series/load?filename={{series.poster}}" alt="">
        </div>
        <div class="col">
            <div class="row m-2">
                <p><b>Nom:</b> {{series.name}}</p>
                <p><b>Première diffusion le </b>{{series.releaseDate | date:'shortDate': undefined: locale}}</p>
                <p><b>Résumé:</b> <br>{{series.summary}}</p>
                <p><b>Personnages:</b> </p>
                <p *ngFor="let character of characters">
                    {{character.name}}: <a *ngIf="character.actor"
                        [routerLink]="['/detail/actor', character.actor.id]">{{character.actor.firstname}}
                        {{character.actor.lastname}}</a>
                </p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <mat-accordion *ngFor="let episodeSaisoned of episodes; index as indexSaison">
                        <mat-expansion-panel *ngFor="let episode of episodeSaisoned; index as indexEpisode">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{series.name}} Saison {{indexSaison+1}}, Episode {{indexEpisode+1}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{episode.name}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p><b>name</b>: {{episode.name}}</p>
                            <p><b>Première diffusion le </b>{{episode.releaseDate | date:'shortDate': undefined:
                                locale}}</p>
                            <p><b>summary:</b> <br>{{episode.summary}}</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>