<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
        <div class="col mat-elevation-z8 m-2 p-2">
            <app-form [controls]="controls" [typeMap]="typeMap" [searchMap]="searchMap"
             [form]="formSeries" [labels]="labels" (listEmmitter)="test($event)" [type]="'series'"></app-form>
        </div>
        <div class="col mat-elevation-z8 m-2 pt-2">
            <app-table-crud [type]="'series'" [columns]="['name', 'releaseDate', 'action']"
                [headers]="['Nom', 'Date de diffusion', 'Action']" (populateEvent)="populate($event)"></app-table-crud>
        </div>
    </div>
</div>