<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
        <div class="col mat-elevation-z8 m-2">
            <mat-tab-group>
                <mat-tab label="Séries">
                    <cdk-virtual-scroll-viewport appendOnly itemSize="1" class="form-viewport m-2">
                        <app-form [dataSource]="dataSource" [type]="'series'" [form]="formSeries" [controls]="controls"
                            [typeMap]="typeMap" [displayMap]="displayMap"></app-form>
                    </cdk-virtual-scroll-viewport>
                </mat-tab>
            </mat-tab-group>

        </div>
        <div class="col m-2">
            <app-table-crud [dataSource]="dataSource" [columns]="columns" [type]="'series'"
                (populateEmitter)="populate($event)"></app-table-crud>
        </div>
    </div>

</div>