<div class="container-fluid">
    <div class="m-2">
        <p>Veuillez importer un fichier au format Excel(.xlsx) ou doc (.ods)</p>
        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header #panelSerie>
                    <mat-panel-title>
                        <p class="mt-2">Fichier série: <input type="file" id="fichierSerie" multiple
                                name="fichierSerie[]" (change)="addFile($event)" (click)="panelSerie._toggle()"
                                accept=".ods,.xlsx,.jpg,.png" />
                        </p>
                    </mat-panel-title>
                    <mat-panel-description>
                        Example d'organisation
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th style="text-align: center; vertical-align: middle;">name</th>
                            <th style="text-align: center; vertical-align: middle;">Résumé</th>
                            <th style="text-align: center; vertical-align: middle;">Date de diffusion</th>
                            <th style="text-align: center; vertical-align: middle;">Saison</th>
                            <th style="text-align: center; vertical-align: middle;">Affiche</th>
                            <th style="text-align: center; vertical-align: middle;">URL Bande Annonce</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align: center; vertical-align: middle;">Exemple name</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple résumé</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple date (la date doit être sous
                                ce
                                format -> jj/mm/yyyy)</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple saison</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple affiche (name complet de la
                                photo
                                (name fichier.jpg))</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple url (lien de la vidéo
                                youtube)
                            </th>
                        </tr>
                    </tbody>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header #panelEpisode>
                    <mat-panel-title>
                        <p class="mt-2">Fichier épisode:
                            <input type="file" id="fichierEpisode" name="fichierEpisode"
                                (click)="panelEpisode._toggle()" (change)="addFile($event)" accept=".ods,.xlsx">
                        </p>
                    </mat-panel-title>
                    <mat-panel-description>
                        Example d'organisation
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th style="text-align: center; vertical-align: middle;">name</th>
                            <th style="text-align: center; vertical-align: middle;">Résumé épisode</th>
                            <th style="text-align: center; vertical-align: middle;">Date de diffusion</th>
                            <th style="text-align: center; vertical-align: middle;">name série</th>
                            <th style="text-align: center; vertical-align: middle;">Saison</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align: center; vertical-align: middle;">Exemple name</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple résumé</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple date (la date doit être sous
                                ce
                                format -> jj/mm/yyyy)</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple série</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple saison</th>
                        </tr>
                    </tbody>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header #panelActeur>
                    <mat-panel-title>
                        <p>Fichier acteur: <input type="file" id="fichierActeur" name="fichierActeur"
                                onchange="this.filesSerie=event.target.files" (click)="panelActeur._toggle()"
                                (change)="addFile($event)" accept=".ods,.xlsx">
                        </p>
                    </mat-panel-title>
                    <mat-panel-description>
                        Example d'organisation
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th style="text-align: center; vertical-align: middle;">name</th>
                            <th style="text-align: center; vertical-align: middle;">Préname</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align: center; vertical-align: middle;">Exemple name acteur</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple préname acteur</th>
                        </tr>
                    </tbody>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header #panelPersonnage>
                    <mat-panel-title>
                        <p>Fichier personnage: <input type="file" id="fichierPersonnage" name="fichierPersonnage"
                                (click)="panelPersonnage._toggle()" (change)="addFile($event)" accept=".ods,.xlsx">
                        </p>

                    </mat-panel-title>
                    <mat-panel-description>
                        Example d'organisation
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th style="text-align: center; vertical-align: middle;">name</th>
                            <th style="text-align: center; vertical-align: middle;">Série</th>
                            <th style="text-align: center; vertical-align: middle;">Acteur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align: center; vertical-align: middle;">Exemple name</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple série</th>
                            <th style="text-align: center; vertical-align: middle;">Exemple préname acteur Exemple name
                                acteur
                            </th>
                        </tr>
                    </tbody>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
        <button class="mt-2" mat-raised-button color="primary" mat-dialog-close (click)="submit()">Envoyer</button>
    </div>
</div>