<app-menu></app-menu>

<div class="container-fluid">
    <div class="row">
        @for (watch of watchlist; track $index) {
        <div class="col-4">
            <mat-card class="m-2" style="width: 20vw;">
                <mat-card-header>
                    <mat-card-title>{{watch['name']}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="http://localhost:8081/file/load?filename={{watch['poster']}}">
                <mat-card-content>
                    <p class="mt-2">{{watch['summary'].slice(0,255)}}...</p>
                </mat-card-content>
                <mat-card-actions>
                    @if(watch['seasonIds']){
                    <a type="button" mat-button [routerLink]="['/detail/series', watch['id']]">Voir les Détail</a>
                    }@else{
                    <a type="button" mat-button [routerLink]="['/detail/movie', watch['id']]">Voir les Détail</a>
                    }

                </mat-card-actions>
            </mat-card>
        </div>
        }
    </div>
</div>