@if (form) {
<div class="container-fluid">
    <form [formGroup]="formSearch">
        <div class="row">
            <mat-form-field>
                <input #inputSearch matInput type="text" formControlName="term">
            </mat-form-field>
        </div>
    </form>

    <div class="row" cdkDropListGroup>
        <div class="example-container col">
            <h2>All {{propertyList}}</h2>
            <div cdkDropList cdkDropListSortingDisabled
                [cdkDropListData]="dragList" class="example-list" (cdkDropListDropped)="drop($event)">
                @for (item of dragList; track $index) {
                <div class="example-box" cdkDrag [cdkDragData]="item">
                    {{item[propertyToDisplay]}}</div>
                }

            </div>
        </div>
        <div class="example-container col">
            <h2>{{form.get(currentProperty)!.value}}'s {{propertyList}}</h2>
            <div cdkDropList [cdkDropListData]="this.form.controls[this.propertyList].value"
                cdkDropListSortingDisabled [cdkDropListEnterPredicate]="isAlreadyPresent" class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (item of this.form.controls[this.propertyList].value; track $index) {
                <div class="example-box" cdkDrag [cdkDragData]="item">
                    {{item[propertyToDisplay]}}
                </div>
                }
            </div>
        </div>
    </div>
</div>
}