@if (form) {
<div class="container-fluid">
    <form [formGroup]="formSearch">
        <div class="row">
            <mat-form-field>
                <input #inputSearch matInput type="text" formControlName="term">
            </mat-form-field>
        </div>
    </form>
    <div cdkDropListGroup>
        <div class="example-container">
            <h2>Toute les catégories</h2>
            <div cdkDropList cdkDropListSortingDisabled [cdkDropListData]="dragList" class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (item of dragList; track $index) {
                <div class="example-box" cdkDrag>
                    {{item[propertyToDisplay]}}</div>
                }

            </div>
        </div>
        <div class="example-container">
            <h2>Catégories de {{form.get(propertyToDisplay)!.value}}</h2>
            <div cdkDropList [cdkDropListData]="form.get(propertyList)!.value" class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (item of form.get(propertyList)!.value; track $index) {
                <div class="example-box" cdkDrag>
                    {{item.name}}
                </div>
                }

            </div>

        </div>
    </div>
</div>
}