<div class="container-fluid">
    <div class="row">
        <div class="col-4" *ngFor="let serie of series">
            <mat-card class="m-2">
                <mat-card-header>
                    <mat-card-title>{{serie.name}}</mat-card-title>
                </mat-card-header>
                <img *ngIf="serie.poster" class="mx-2" mat-card-image
                    src="http://localhost:8081/series/load?filename={{serie.poster}}">
                <mat-card-content>
                    <p *ngIf="slicedsummary && serie.summary else fullsummary" class="mt-2">
                        {{serie.summary.slice(0,512)}}
                        <button mat-button color="primary" (click)="slicedsummary=!slicedsummary">Voir plus</button>
                    </p>
                    <ng-template #fullsummary>
                        <p>
                            {{serie.summary}}
                            <button mat-button color="primary" (click)="slicedsummary=!slicedsummary">Voir
                                moins</button>
                        </p>

                    </ng-template>
                </mat-card-content>
                <mat-card-actions>
                    <a type="button" mat-button [routerLink]="['/detail/series', serie.id]">Voir les Détail</a>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</div>