<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/">Les Séries</button>
        <button mat-button [matMenuTriggerFor]="menuAdmin">Menu</button>
        <mat-menu #menuAdmin="matMenu">
            <a mat-menu-item routerLink="/admin/series">Gérer les séries</a>
            <button mat-menu-item routerLink="/admin/episodes">Gérer les épisodes</button>
            <button mat-menu-item routerLink="/admin/actor">Gérer les acteurs</button>
            <button mat-menu-item routerLink="/admin/character">Gérer les personnages</button>
        </mat-menu>

        <button mat-button (click)="openDialogImport()">Importation de données</button>
        <button mat-button (click)="openDialogExport()">Exportation de données</button>

        <span class="example-spacer"></span>

        <button *ngIf="!isLogged else none" mat-button [matMenuTriggerFor]="menuLogin">Login</button>
        <ng-template #none>
            <button mat-button (click)="logout()">Logout</button>
        </ng-template>
        <mat-menu #menuLogin="matMenu" xPosition="before" [overlapTrigger]="false">
            <form [formGroup]="formLogin" class="ms-2" (ngSubmit)="submit()" (keydown.tab)="$event.stopPropagation()">
                <mat-toolbar-row class="mt-2" (click)="$event.stopPropagation(); false;">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username" formControlName="username">
                    </mat-form-field>
                </mat-toolbar-row>
                <mat-toolbar-row (click)="$event.stopPropagation(); false;">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="{{hide ? 'password' : 'text'}}" placeholder="Password"
                            formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-toolbar-row>
                <button mat-button type="submit">Login</button>
            </form>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>