<div class="container-fluid">
    <div class="m-2">
        <form [formGroup]="export">
            <p><mat-checkbox formControlName="serie">Séries</mat-checkbox></p>
            <p><mat-checkbox formControlName="episode">Episodes</mat-checkbox></p>
            <p><mat-checkbox formControlName="actor">Acteurs</mat-checkbox></p>
            <p><mat-checkbox formControlName="character">Personnages</mat-checkbox></p>
            <button class="mt-2" mat-raised-button color="primary" mat-dialog-close (click)="submit()">Envoyer</button>
        </form>
    </div>

</div>
