<div class="container-fluid">
    <div class="row">
        <div class="col mat-elevation-z8 mx-2 mt-2">
            <mat-tab-group selectedIndex="1" (selectedIndexChange)="updateNotification($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span *ngIf="notification>0 else none" [matBadge]="notification" matBadgeOverlap="false">Acteurs
                            en
                            attente</span>
                        <ng-template #none>
                            <span>Acteur en attente</span>
                        </ng-template>
                    </ng-template>

                    <button mat-raised-button class="mt-2" color="primary" (click)="saves()">Envoyer la liste</button>
                    <table #tableToAddActors mat-table [dataSource]="toAddActors">
                        <ng-container matColumnDef="firstname">
                            <th mat-header-cell *matHeaderCellDef> Prénom </th>
                            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                        </ng-container>

                        <ng-container matColumnDef="lastname">
                            <th mat-header-cell *matHeaderCellDef> Nom </th>
                            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element; index as index">
                                <button mat-raised-button color="accent" class="me-2"
                                    (click)="populate(element)">Modier</button>
                                <button mat-raised-button color="warn" (click)="remove(index)">Supprimer</button>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                    </table>
                </mat-tab>
                <mat-tab label="Acteur">
                    <form id="form" class="container-fluid mt-2" [formGroup]="formActor" (ngSubmit)="submit()">
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Id</mat-label>
                                <input matInput type="number" formControlName="id" name="id" id="id" readonly="">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Prénom</mat-label>
                                <input matInput type="text" formControlName="firstname" name="firstname" id="firstname"
                                    placeholder="Prénom">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Nom</mat-label>
                                <input matInput type="text" formControlName="lastname" name="lastname" id="lastname"
                                    placeholder="Nom">
                            </mat-form-field>
                        </div>

                        <div class="row">
                            <button mat-raised-button type="submit" color="primary" class="col m-2">Enregistrer</button>
                            <button mat-raised-button type="reset" color="primary" class="col m-2">
                                Reset
                            </button>
                            <button mat-raised-button type="button" color="primary" class="col m-2"
                                (click)="add()">Ajouter à la
                                liste</button>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col mt-2 me-2">
            <table mat-table [dataSource]="actors" class="mat-elevation-z8">
                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef> Prénom </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                </ng-container>

                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef> Nom </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="accent" class="me-2"
                            (click)="populate(element)">Modier</button>
                        <button mat-raised-button color="warn" (click)="deletes(element)">Supprimer</button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
    </div>
</div>