<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-tab-group class="mat-elevation-z8 m-2" [selectedIndex]="'1'">
                <mat-tab label="Personnages">
                    <app-to-add-table [type]="type" [columns]="columns" (populateEvent)="populate($event)"
                        (saveEvent)="saves($event)"></app-to-add-table>
                </mat-tab>
                <mat-tab label="Personnage">
                    <cdk-virtual-scroll-viewport itemSize="1" class="form-viewport m-2">
                        <app-form [type]="type" [form]="formCharacter" [controls]="controls" [displayMap]="displayMap"
                            [typeMap]="typeMap" (submitEvent)="submit($event)"></app-form>
                    </cdk-virtual-scroll-viewport>
                </mat-tab>
                <mat-tab label="Séries">
                    @if(formCharacter){
                    <app-drag-and-drop [form]="formCharacter" [property]="'seriesIds'" [propertyToDisplay]="'name'"
                        [type]="'series'"></app-drag-and-drop>
                    }
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col m-2">
            <div class="mat-elevation-z8">
                <app-table-crud [type]="type" [typeMap]="typeMap" [columns]="columns"
                    (populateEvent)="populate($event)"></app-table-crud>
            </div>

        </div>
    </div>

</div>