<div class="container-fluid">
    <div class="row m-2">
        <div class="col mat-elevation-z8 m-2">
            <img [src]="file64" style="max-width: 60vh;">
        </div>
        <div class="col mat-elevation-z8 m-2">
            <form class="p-2" [formGroup]="formUser" (ngSubmit)="submit()">
                <div class="row">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput type="text" formControlName="username" name="username" id="username"
                            placeholder="Username">
                    </mat-form-field>
                </div>
                <div class="row mb-2">
                    <input type="file" (change)="setAvatar($event);" accept="image/png, image/jpeg">
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Ancien mot de passe</mat-label>
                        <input matInput type="text" formControlName="currentPassword" name="currentPassword"
                            id="currentPassword" placeholder="Ancien mot de passe">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Nouveau mot de passe</mat-label>
                        <input matInput type="text" formControlName="password" name="password" id="password"
                            placeholder="Nouveau mot de passe">
                        <mat-error *ngIf="formUser.controls.password.hasError('same')">
                            {{formUser.controls.password.errors!['same']}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Confirmez le nouveau mot de passe</mat-label>
                        <input matInput type="text" formControlName="confirmPassword" name="confirmPassword"
                            id="confirmPassword" placeholder="Confirmez le nouveau mot de passe">
                        <mat-error *ngIf="formUser.controls.confirmPassword.hasError('notSame')">
                            {{formUser.controls.confirmPassword.errors!['notSame']}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <button mat-raised-button color="primary" type="submit">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>