<app-menu></app-menu>
<div class="container-fluid">
    <div class="row m-2">
        <div class="col mat-elevation-z8 m-2">
            <form class="p-2" [formGroup]="formUser" #form="ngForm" (ngSubmit)="submit()">
                <div class="row">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput type="text" formControlName="username" name="username" id="username"
                            placeholder="Username">
                    </mat-form-field>
                </div>
                <div class="row mb-2">
                    <mat-form-field>
                        <mat-label>Avatar File</mat-label>
                        <input matInput type="text" [formControlName]="'avatarFile'" [name]="'avatarFile'"
                            [id]="'avatarFile'" placeholder="poster" [readonly]="true">
                    </mat-form-field>
                    <div class="row mb-2 mx-2">
                        <div class="col">
                            <input type="file" (change)="setAvatar($event);" accept="image/png, image/jpeg">
                        </div>
                        <div class="col">
                            <button mat-raised-button type="button" color="primary" class="m-2"
                                (click)="openPosterDialog()">
                                Voir poster
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Ancien mot de passe</mat-label>
                        <input matInput type="text" formControlName="currentPassword" name="currentPassword"
                            id="currentPassword" placeholder="Ancien mot de passe">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Nouveau mot de passe</mat-label>
                        <input matInput type="text" formControlName="password" name="password" id="password"
                            placeholder="Nouveau mot de passe">
                        @if (formUser.controls.password.hasError('same')) {
                        <mat-error>
                            {{formUser.controls.password.errors!['same']}}
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Confirmez le nouveau mot de passe</mat-label>
                        <input matInput type="text" formControlName="confirmPassword" name="confirmPassword"
                            id="confirmPassword" placeholder="Confirmez le nouveau mot de passe">
                        @if(formUser.controls.confirmPassword.hasError('notSame')){
                        <mat-error>
                            {{formUser.controls.confirmPassword.errors!['notSame']}}
                        </mat-error>
                        }
                        @if (formUser.controls.password.hasError('same')) {
                        <mat-error>
                            {{formUser.controls.password.errors!['same']}}
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="me-2" mat-raised-button color="primary" type="submit">Valider</button>
                        <button type="button" mat-raised-button (click)="reset(form)">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row overflow-x-scroll">
        @for (review of reviews; track $index) {
        <div class="col">
            <mat-card class="m-2" style="max-width: 20vw;">
                <mat-card-header>
                    <mat-card-title> {{review['name']}} </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="http://localhost:8081/file/load?filename={{review['poster']}}" alt="poster">
                <mat-card-content class="mt-2">
                    <p>Note: {{review.note}}/5</p>
                    <p><strong> Commantaire:</strong> <br>{{review.comment}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" (click)="modifyReview(review)">
                        <mat-icon>edit</mat-icon>Modifier
                    </button>
                    <button mat-raised-button color="warn">
                        <mat-icon>delete</mat-icon>
                        Supprimer
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        }
    </div>
</div>