<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer mode="push" (closedStart)="isOpened=!isOpened">
        <div class="container-fluid" style="height: 100vh;">
            <form [formGroup]="formSearch" (ngSubmit)="submit()">
                <div class="col" style="width: 25wh;">
                    <div class="row">
                        <mat-chip-listbox multiple="true" formControlName="categoryIds" class="mat-mdc-chip-set-stacked"
                            aria-label="Fish selection">
                            <mat-chip-option *ngFor="let category of categories" [value]="category.id"
                                color="accent">{{category.name}}</mat-chip-option>
                        </mat-chip-listbox>
                    </div>

                    <div class="row m-2">
                        <button type="submit" mat-raised-button color="primary">Filtrer</button>
                        <button type="button" mat-raised-button (click)="reset()">Reset</button>
                    </div>
                </div>

            </form>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-button (click)="panel(drawer)">
            <ng-container *ngIf="!isOpened else none">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </ng-container>
            <ng-template #none>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </ng-template>

        </button>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-4">
                    <form [formGroup]="formSearch" (ngSubmit)="submit()">
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Recherche</mat-label>
                                <input matInput type="text" formControlName="name" name="term" id="term"
                                    placeholder="Rechercher une série ou un film">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <mat-button-toggle-group formControlName="type">
                                    <mat-button-toggle value="series" aria-label="series">
                                        <mat-icon>tv</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="movie" aria-label="movie">
                                        <mat-icon>movie</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-2 d-flex justify-content-center">
                                <button mat-raised-button color="primary">Rechercher</button>
                                <button type="button" mat-raised-button (click)="reset()">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <p>Résulats trouvés: {{results.length}}</p>
                <div class="col-4" *ngFor="let result of results">
                    <mat-card class="m-2" style="width: 20vw;">
                        <mat-card-header>
                            <mat-card-title>{{result['name']}}</mat-card-title>
                        </mat-card-header>
                        <img *ngIf="result['poster']" mat-card-image
                            src="http://localhost:8081/file/load?filename={{result['poster']}}">
                        <mat-card-content>
                            <p class="mt-2">
                                {{result['summary'].slice(0,256)}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a type="button" mat-button [routerLink]="['/detail/series', result['id']]">Voir les
                                Détail</a>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>