<app-menu></app-menu>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" (closedStart)="isOpened=!isOpened">
        <div class="container-fluid">
            <form class="sticky-top" [formGroup]="formSearch" (ngSubmit)="submit()">
                <div class="col">
                    <div class="row">
                        <mat-chip-listbox multiple="true" formControlName="categoryIds" class="mat-mdc-chip-set-stacked"
                            aria-label="Fish selection">
                            @for (category of categories; track $index) {
                            <mat-chip-option [value]="category.id" color="accent">{{category.name}}</mat-chip-option>
                            }

                        </mat-chip-listbox>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [formGroup]="formSearch" [rangePicker]="picker">
                                <input matStartDate formControlName="startDate">
                                <input matEndDate formControlName="endDate">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>


                        </mat-form-field>
                    </div>
                    <div class="row m-2">
                        <button type="submit" mat-raised-button color="primary">Filtrer</button>
                        <button type="button" mat-raised-button (click)="reset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-sidenav>
    <div class="min-vh-100">
        <button mat-button (click)="panel(sidenav)">
            Filtre
            @if (!isOpened) {
            <mat-icon>keyboard_arrow_right</mat-icon>
            }@else {
            <mat-icon>keyboard_arrow_left</mat-icon>
            }
        </button>
        <div class="container-fluid">
            <div class="row  d-flex justify-content-center">
                <div class="col-4">
                    <form [formGroup]="formSearch" (ngSubmit)="submit()">
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Rechercher</mat-label>
                                <input matInput formControlName="name" type="text" name="name" id="name">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select formControlName="type">
                                    <mat-option value="series">Series</mat-option>
                                    <mat-option value="episode">Episode</mat-option>
                                    <mat-option value="movie">Movie</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select formControlName="sort">
                                    @for (sortOption of sortOptions; track $index) {
                                    <mat-option [value]="sortOption">Trier par {{sortOption.display}} par {{getDirection(sortOption.direction)}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="row">
                            <div class="col mt-2 d-flex justify-content-center">
                                <button mat-raised-button color="primary">Rechercher</button>
                                <button type="button" mat-raised-button (click)="reset()">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <p>Résulats trouvés: {{results.length}}</p>
                @for (result of results; track $index) {
                <div class="col-4">
                    <mat-card class="m-2" style="width: 20vw;">
                        <mat-card-header>
                            <mat-card-title>{{result['name']}}</mat-card-title>
                        </mat-card-header>
                        @if(result['poster']){
                        <img mat-card-image src="http://localhost:8081/file/load?filename={{result['poster']}}">
                        }
                        <mat-card-content>
                            <p class="mt-2">
                                {{result['summary'].slice(0,256)}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <a type="button" mat-button [routerLink]="['/detail/series', result['id']]">Voir les
                                Détail</a>
                        </mat-card-actions>
                    </mat-card>
                </div>
                }

            </div>
        </div>
    </div>


</mat-sidenav-container>