@if(form){
<div class="container-fluid p-2">
    <form [formGroup]="form" #ngForm="ngForm" (ngSubmit)="submit(ngForm)">
        @for (control of controls; track $index) {
        @if(control.type!=='ids'){
        @if(control.type==='id'){
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <input matInput [formControlName]="control.name" type="text" [name]="control.name" [id]="control.name"
                    [readonly]="true">
            </mat-form-field>
        </div>
        }

        @else if (control.type==='date') {
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="control.name" [name]="control.name"
                    [id]="control.name" (click)="picker.open()">
                <mat-datepicker #picker></mat-datepicker>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            </mat-form-field>
        </div>
        }
        @else if (control.type==='number') {
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <input matInput [formControlName]="control.name" type="number" [name]="control.name"
                    [id]="control.name">
            </mat-form-field>
        </div>
        }
        @else if (control.type==='text') {
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <textarea matInput [formControlName]="control.name" [name]="control.name" [id]="control.name"
                    cdkTextareaAutosize></textarea>
            </mat-form-field>
        </div>
        }
        @else if (control.type==='file') {
        <app-file [form]="form" [control]="control"></app-file>
        }
        @else if(control.type==='String'){
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <input matInput type="text" [formControlName]="control.name" [name]="control.name" [id]="control.name"
                    [placeholder]="control.name">
            </mat-form-field>
        </div>
        }
        @else {
        <app-select [form]="form" [control]="control" [type]="typeMap[control.name]"
            [propertyToDisplay]="displayMap[control.name]"></app-select>
        }
        }
        }
        <button mat-raised-button color="primary" type="submit">Valider</button>
        <button mat-raised-button class="ms-2" type="button" (click)="reset(ngForm)">Reset</button>
        <button mat-raised-button color="primary" class="ms-2" type="button" (click)="toAdd(ngForm)">Ajouter</button>
    </form>
</div>
}