@if(form){
<div class="container-fluid">
    <form [formGroup]="form" #ngForm="ngForm" (ngSubmit)="submit(ngForm)">
        @for (control of controls; track $index) {
        @if(!control.name.endsWith('Ids')){
        @if(control.name==='id'){
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <input matInput [formControlName]="control.name" type="number" [name]="control.name" [id]="control.name"
                    [readonly]="true">
            </mat-form-field>
        </div>
        }
        @else if (control.name.endsWith('Id')) {

        <app-select [form]="form" [control]="control" [type]="typeMap.get(control.name)!"
            [propertyToDisplay]="displayMap.get(control.name)!"></app-select>

        }
        @else if (control.name.toLowerCase().includes('date')) {
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="control.name" [name]="control.name"
                    [id]="control.name" (click)="picker.open()">
                <mat-datepicker #picker></mat-datepicker>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            </mat-form-field>
        </div>
        }
        @else if (control.type==='number') {
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <input matInput [formControlName]="control.name" type="number" [name]="control.name"
                    [id]="control.name">
            </mat-form-field>
        </div>
        }
        @else if (control.name.toLowerCase().includes('summary')) {
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <textarea matInput [formControlName]="control.name" [name]="control.name" [id]="control.name"
                    cdkTextareaAutosize></textarea>
            </mat-form-field>
        </div>
        }
        @else if (control.name.toLowerCase().includes('poster')) {
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <input matInput type="text" [formControlName]="control.name" [name]="control.name" [id]="control.name"
                    placeholder="poster" [readonly]="true">
            </mat-form-field>
            <div class="row mb-2 mx-2">
                <div class="col">
                    <input type="file" (change)="setPoster($event);" accept="image/png, image/jpeg">
                </div>
                <div class="col">
                    <button mat-raised-button type="button" color="primary" class="m-2" (click)="openPosterDialog()">
                        Voir poster
                    </button>
                </div>
            </div>
        </div>

        }
        @else {
        <div class="row">
            <mat-form-field>
                <mat-label>{{control.name}}</mat-label>
                <input matInput type="text" [formControlName]="control.name" [name]="control.name" [id]="control.name"
                    [placeholder]="control.name">
            </mat-form-field>
        </div>
        }
        }
        }
        <button mat-raised-button color="primary" type="submit">Valider</button>
        <button mat-raised-button class="ms-2" type="button" (click)="reset(ngForm)">Reset</button>
        <button mat-raised-button color="primary" class="ms-2" type="button" (click)="toAdd(ngForm)">Ajouter</button>
    </form>
</div>
}