<h3 class="ms-2">Note:</h3>
<mat-slider [formGroup]="formReview" discrete class="example-margin" [step]="1" [max]="5">
    <input formControlName="note" matSliderThumb>
</mat-slider>

<div class="container-fluid">
    <form [formGroup]="formReview" (ngSubmit)="submit()">
        <div class="row">
            <mat-form-field>
                <mat-label>Commentaire</mat-label>
                <textarea maxlength="256" matInput formControlName="comment" cdkTextareaAutosize></textarea>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Série</mat-label>
                <mat-select formControlName="seriesId" id="series">
                    <mat-option [value]="0">None</mat-option>
                    @for (item of series; track $index) {
                    <mat-option [value]="item['id']">
                        {{item['name']}}
                    </mat-option>
                    }

                </mat-select>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary">Valider</button>
    </form>
</div>