<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/">Les Séries</button>
        <a mat-button routerLink="/search">Recherche</a>
        <div>
            @if (isLogged && isAdmin) {
            <button mat-button [matMenuTriggerFor]="menuAdmin">Menu</button>
            <mat-menu #menuAdmin="matMenu">
                <button mat-menu-item [routerLink]="['/admin', 'series']">Gérer les séries</button>
                <button mat-menu-item [routerLink]="['/admin', 'movie']">Gérer les films</button>
                <button mat-menu-item [routerLink]="['/admin', 'category']">Gérer les catégories</button>
                <button mat-menu-item [routerLink]="['/admin', 'episode']">Gérer les épisodes</button>
                <button mat-menu-item [routerLink]="['/admin', 'actor']">Gérer les acteurs</button>
                <button mat-menu-item [routerLink]="['/admin', 'character']">Gérer les personnages</button>
                <button mat-menu-item [routerLink]="['/admin', 'review']">Gérer les notes</button>
            </mat-menu>

            <button mat-button (click)="openDialogImport()">Importation de données</button>
            <button mat-button (click)="openDialogExport()">Exportation de données</button>
            }

        </div>


        <span class="example-spacer"></span>

        @if (!isLogged) {
        <button mat-button routerLink="/registrate">Créer un compte</button>
        <button mat-button [matMenuTriggerFor]="menuLogin">Login</button>
        }@else {
        <button mat-button [matMenuTriggerFor]="menuUser">{{username}}</button>
        <mat-menu #menuUser="matMenu">
            <button mat-menu-item routerLink="/user/profile">Profile</button>
            <button mat-menu-item routerLink="/user/watchlist">Watchlist</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        }
        <mat-menu #menuLogin="matMenu" xPosition="before" [overlapTrigger]="false">
            <form [formGroup]="formLogin" class="container-fluid" (ngSubmit)="submit()"
                (keydown.tab)="$event.stopPropagation()">
                <div class="row" (click)="$event.stopPropagation(); false;">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username" formControlName="username">
                    </mat-form-field>
                </div>
                <div class="row" (click)="$event.stopPropagation(); false;">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="{{hide ? 'password' : 'text'}}" placeholder="Password"
                            formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide" type="button"
                            (keypress.enter)="$event.stopPropagation(); false;">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <button mat-button type="submit">Login</button>
            </form>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>