<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
        <div class="col mat-elevation-z8 m-2 p-2">
            <mat-tab-group dynamicHeight selectedIndex="1" (selectedIndexChange)="updateNotification($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span *ngIf="notification>0 else none" [matBadge]="notification"
                            matBadgeOverlap="false">Episodes en
                            attente</span>
                        <ng-template #none>
                            <span>Episodes en attente</span>
                        </ng-template>
                    </ng-template>
                    <button mat-raised-button color="primary" class="mt-2" (click)="saves()">Envoyer la
                        liste</button>
                    <table #tableToAddEpisodes mat-table [dataSource]="toAddEpisodes">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Affiche </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-raised-button color="accent" class="me-2"
                                    (click)="populate(element)">Modier</button>
                                <button mat-raised-button color="warn" (click)="remove(element.id)">Supprimer</button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="releaseDate">
                            <th mat-header-cell *matHeaderCellDef> Date de diffusion </th>
                            <td mat-cell *matCellDef="let element"> {{element.releaseDate | date:'shortDate':
                                undefined:
                                locale}}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                    </table>
                </mat-tab>
                <mat-tab label="Episode">
                    <form id="form" class="mt-2 p-2" [formGroup]="formEpisode" (ngSubmit)="submit()">
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Id</mat-label>
                                <input matInput type="number" formControlName="id" name="id" id="id" readonly="">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Nom</mat-label>
                                <input matInput type="text" formControlName="name" name="name" id="name"
                                    placeholder="Nom">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Resumé</mat-label>
                                <textarea matInput formControlName="summary" name="summary" id="summary"
                                    placeholder="Il était un fois..." cdkTextareaAutosize></textarea>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Date de diffusion</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="releaseDate"
                                    name="releaseDate" id="releaseDate" (click)="picker.open()">
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Série</mat-label>
                                <mat-select formControlName="seriesId" name="seriesId" id="seriesId">
                                    <mat-option *ngFor="let serie of series" [value]="serie.id">
                                        {{serie.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Saison</mat-label>
                                <mat-select formControlName="seasonId" name="seasonId" id="seasonId">
                                    <mat-option *ngFor="let saison of seasons" [value]="saison.id">
                                        {{saison.number}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-checkbox formControlName="isNewSaison">Nouvelle saison?</mat-checkbox>
                        </div>
                        <div class="row">
                            <button mat-raised-button type="submit" color="primary" class="col m-2">Enregistrer</button>
                            <button mat-raised-button type="reset" color="primary" class="col m-2">
                                Reset
                            </button>
                            <button mat-raised-button type="button" color="primary" class="col m-2"
                                (click)="add()">Ajouter à la
                                liste</button>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col mt-2 me-2">
            <div class="mat-elevation-z8">
                <form class="mx-2" [formGroup]="formSearch">
                    <mat-form-field class="mt-2">
                        <mat-label>Nom de la série</mat-label>
                        <input matInput formControlName="series" [matAutocomplete]="auto" type="text" id="seriesName"
                            name="seriesName">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySeries" (optionSelected)="selectSeries($event,paginator)">
                            @for (option of filteredSeries | async; track option) {
                            <mat-option [value]="option">{{option.name}}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <table mat-table matSort (matSortChange)="sort($event)" [dataSource]="episodes.content">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell mat-sort-header="name" *matHeaderCellDef> name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="releaseDate">
                        <th mat-header-cell mat-sort-header="releaseDate" *matHeaderCellDef> Date de diffusion </th>
                        <td mat-cell *matCellDef="let element"> {{element.releaseDate | date:'shortDate': undefined:
                            locale}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="accent" class="me-2"
                                (click)="populate(element)">Modier</button>
                            <button mat-raised-button color="warn" (click)="deletes(element)">Supprimer</button>
                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                </table>
                <mat-paginator #paginator (page)="page($event)" [length]="episodes.size" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>